config.sh
venv/*
wsgi/static/js/packed*
wsgi/static/css/packed*
wsgi/static/css/animation.css
wsgi/static/css/leaflet-packed.css
wsgi/static/css/locate-fa.css
wsgi/static/js/L.Control.Locate.css
wsgi/static/js/L.Control.Locate.ie.css
wsgi/static/js/c3.js
wsgi/static/js/chroma.min.js
wsgi/static/js/geoPosition.js
wsgi/static/js/html5shiv.js
wsgi/static/js/leaflet-bundle.js
wsgi/static/js/ng-table.map
wsgi/static/sphinx/doctrees/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Ansible password
password.txt

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


doc/ext/httpdomain/test/_build/html/.buildinfo
wsgi/.idea/
wsgi/static/sphinx/html/.buildinfo


virtenv/
virtenv3/
wsgi/envars
wsgi/static/packed-latlong-bootstrap.css
.env
.envrc
