OPENSHIFT_POSTGRESQL_DB_PASSWORD={{DB_PASSWORD}}
OPENSHIFT_POSTGRESQL_DB_URL=postgresql://{{username}}:{{DB_PASSWORD}}@localhost/apihoyodecrimen
REDIS_PASSWORD=
OPENSHIFT_REDIS_HOST=127.0.0.1
OPENSHIFT_REDIS_PORT=6379
OPENSHIFT_POSTGRESQL_DB_USERNAME={{username}}
OPENSHIFT_PYTHON_DIR=/var/www/hoyodecrimen.com/hoyodecrimen.api/hoyodecrimen
OPENSHIFT_APP_UUID=true
SENTRY_DSN={{ SENTRY_DSN }}
