{% extends "base.html" %}
{% block title %}{{_('About Crime in Mexico City')}}{% endblock %}
{% block lang %}{{_('en')}}{% endblock %}
{% block hreflang %}{{_('es')}}{% endblock %}
{% block alternhref %}{{_('https://hoyodecrimen.com/acerca')}}{% endblock %}
{% block description %}{{_('About crime in Mexico City')}}{% endblock %}

{% block css %}
    {% assets  'css_pip_req'   %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block js %}
    {% assets  'js_pip_req'  %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

        {% block head %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@diegovalle" />
        <meta name="twitter:title" content="{{_('About Crime in Mexico City')}}" />
        <meta name="twitter:description" content="{{_('Data sources and information for hoyodecrimen.com')}}" />
        <meta name="twitter:image" content="https://hoyodecrimen.com/images/choropleth.png" />
        <meta name="twitter:url" content="{{_('https://hoyodecrimen.com/en/about')}}" />

        <meta name="blitz" content="mu-01188fe9-0b813050-b0f51076-c96f41fb">

        <meta name="og:title" content="{{_('About Crime in Mexico City')}}" />
        <meta property="og:description" content="{{_('Data sources and information for hoyodecrimen.com')}}"/>
        <meta property="og:url" content="{{_('https://hoyodecrimen.com/en/about')}}"/>
        <meta property="og:image" content="https://hoyodecrimen.com/images/choropleth.png"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Hoyo de Crimen"/>
    {{super()}}
{% endblock %}
{% block subscribe %}
{% endblock %}
{% block content %}

    <hr/>
    <div>
        <h2>{{_('About Crime in Mexico City')}}</h2>


    </div>
    <div id="small-multiples" class="row">
    </div>
    <style>
     .mg-chart-title {
         cursor: default;
         font-size: .7rem;
         padding-top: 0px;
         text-align: center;
         font-family: 'Open Sans', sans-serif, Arial;
         color: #111;
         letter-spacing: 0em;
     }
     .mg-year-marker text {
         visibility: hidden;
     }

     .popover-content {
         padding: 9px 14px;
     }
     .popover.top {
         margin-top: -10px;
     }
     .mg-popover {
         font-size: .95rem;
     }
     .popover.top>.arrow {
         bottom: -11px;
         left: 50%;
         margin-left: -11px;
         border-top-color: #999;
         border-top-color: rgba(0,0,0,.25);
         border-bottom-width: 0;
     }

     .popover>.arrow {
         border-width: 11px;
     }
     .popover>.arrow, .popover>.arrow:after {
         position: absolute;
         display: block;
         width: 0;
         height: 0;
         border-color: transparent;
         border-style: solid;
     }
     .popover.top>.arrow:after {
         bottom: 1px;
         margin-left: -10px;
         content: " ";
         border-top-color: #fff;
         border-bottom-width: 0;
     }
     .popover>.arrow:after {
         content: "";
         border-width: 10px;
     }
     .popover>.arrow, .popover>.arrow:after {
         position: absolute;
         display: block;
         width: 0;
         height: 0;
         border-color: transparent;
         border-style: solid;
     }
     :before, :after {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
     }
     .popover-content {
         padding: 9px 14px;
         font-family:'Open Sans', sans-serif, Arial;
         font-size:11.4px;
         color: #111;
     }
     .popover {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1060;
         display: none;
         max-width: 276px;
         padding: 1px;
         text-align: left;
         white-space: normal;
         background-color: #fff;
         -webkit-background-clip: padding-box;
         background-clip: padding-box;
         border: 1px solid #ccc;
         border: 1px solid rgba(0,0,0,.2);
         border-radius: 6px;
         -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         box-shadow: 0 5px 10px rgba(0,0,0,.2);
     }
     .mg-histogram .mg-bar rect {
         fill: #9F794C;
         shape-rendering: auto;
     }
    </style>
    <p >{{_('Created by <a href="https://www.diegovalle.net">Diego Valle-Jones</a>')}}. {{_('To keep the site going I need your help, you can sponsor me at <a href="https://www.patreon.com/hoyodecrimen">patreon</a>')}}</p>
    <br>
    <a href="https://www.patreon.com/hoyodecrimen"><img src="/images/patreon_banner.png"></a>
    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('Crime data since 2013 comes from a <a href="http://data.diegovalle.net/hoyodecrimen/solicitud.zip">FOIA request</a> to the SSPDF. Cuadrante coordinates scraped from <a href="http://201.144.220.174/pid/gps/cuadrantesWeb.php">Consulta de Cuadrantes</a>. The population figures are based on the <a href="http://blog.diegovalle.net/2013/06/shapefiles-of-mexico-agebs-manzanas-etc.html">2010 Census by Manzana</a>. Keep in mind that about 95&#37; of crimes in Mexico City are not reported to the police and you should focus on homicides and car robberies since by their nature they are harder to ignore.')}}</p>
    <br><a href="/api"><img src="/images/api-docs.png"></a>
    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_("There's also a")}} <a href="{{_('/')}}">{{_("Spanish version")}}</a> {{_("and a really cool")}} <a href="/api">API</a></p>

    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('Download the complete dataset as a <a href="http://data.diegovalle.net/hoyodecrimen/cuadrantes.csv.zip">csv file</a>')}}</p>


    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('Visit <a href="https://crimenmexico.diegovalle.net/en/">CrimenMexico</a> for crime information at the national, state and municipio level')}}</p>

    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('You can download a map of cuadrantes as <a href="https://hoyodecrimen.com/api/v1/cuadrantes/geojson">GeoJSON</a> using the API')}}</p>

    <p style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('This webapp is opensource and you can view the code on <a href="https://github.com/diegovalle/hoyodecrimen.api">GitHub</a>')}}</p>

<p  style="text-transform:none;font-family: Source Sans Pro;font-size:19px;color:#333;text-align:left;text-justify: inter-word;">{{_('I take your security seriously, if you believe you&#x27;ve found a vulnerability in this website please report it to <a href="mailto:security@hoyodecrimen.com">security@hoyodecrimen.com</a>. You can find my PGP key by googling it.')}}</p>

    <!--<h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-hom.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rncv.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rvcv.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rvsv.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rtcv.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rtsv.png')}}" >
         <hr/>

         <h2>{{_('Crime by Sector')}}</h2>
         <img src="{{_('/images/total-sector-rccv.png')}}" >-->
    <div class="modal"></div>
{% endblock %}

{% block js_bottom %}
{% endblock %}
