{% extends "base.html" %}
{% block title %}{{_('Charts of Crime in all of Mexico City')}}{% endblock %}
{% block lang %}{{_('en')}}{% endblock %}
{% block hreflang %}{{_('es')}}{% endblock %}
{% block alternhref %}{{_('https://hoyodecrimen.com/crimen')}}{% endblock %}
{% block description %}{{_('Small multiple charts of crime in all ofMexico City')}}{% endblock %}

{% block css %}
    {% assets  'css_pip_req'   %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block js %}
    <script>
     // URL for the angular table
     anuglar_table_url = "/api/v1/sectores/crimes/all/top/rates"
    </script>
    {% assets  'js_pip_req'  %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

        {% block head %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@diegovalle" />
        <meta name="twitter:title" content="{{_('Charts of Crime in all of Mexico City')}}" />
        <meta name="twitter:description" content="{{_('Charts of crime trends in Mexico City')}}" />
        <meta name="twitter:image" content="https://hoyodecrimen.com/images/crimen.png" />
        <meta name="twitter:url" content="{{_('https://hoyodecrimen.com/en/crime')}}" />

        <meta name="blitz" content="mu-01188fe9-0b813050-b0f51076-c96f41fb">

        <meta name="og:title" content="{{_('Crime in Mexico City')}}" />
        <meta property="og:description" content="{{_('Charts of crime trends in Mexico City')}}"/>
        <meta property="og:url" content="{{_('https://hoyodecrimen.com/en/crime')}}"/>
        <meta property="og:image" content="https://hoyodecrimen.com/images/crimen.png"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Hoyo de Crimen"/>
    {{super()}}
{% endblock %}
{% block subscribe %}
{% endblock %}
{% block content %}

    <hr/>
    <div>
        <h2>{{_('Small multiple charts of crime in all of Mexico City')}}</h2>
        <div class="row">
            <div class="3u 12u(movile)">&nbsp;</div>
            <div class="2u 12u(movile)">
                <div class="legend"><span class="mg-line1-legend-color">— PGJ-CDMX</span></div>
            </div>
            <div class="2u 12u(movile)">
                <div class="legend"><span class="mg-line2-legend-color">— SESNSP </span></div>
            </div>
            <div class="2u 12u(movile)">
                <div class="legend"><span class="mg-line3-legend-color">— INEGI </span></div>
            </div>
        </div>
        <hr/>
    </div>
    <div id="small-multiples" class="row">
    </div>
    <div>
        <br/>
        <p>{{_('The SESNSP crime data comes from the data the PGJ-CDMX reports to the <a href="http://secretariadoejecutivo.gob.mx/incidencia-delictiva/incidencia-delictiva-fuero-comun.php">Sistema Ejecutivo del Sistema Nacional</a>. The <a href="http://www.inegi.org.mx/sistemas/olap/proyectos/bd/continuas/mortalidad/defuncioneshom.asp?s=est">INEGI</a> homicide data is based on death certificates issued by the health authority. The SSP-CDMX data is from a FOIA request to the Mexico City government.')}}</p>
    </div>
    <style>
     .mg-chart-title {
         cursor: default;
         font-size: .7rem;
         padding-top: 0px;
         text-align: center;
         font-family: 'Open Sans', sans-serif, Arial;
         color: #111;
     }
     .mg-line1-legend-color {
         color: #6b3c04;
     }
     .mg-area1-color {
         fill: #6b3c04;
     }
     .mg-line1-color {
         stroke: #6b3c04;
     }
     .mg-area2-color {
         fill: #ec8407;
     }
     .mg-line2-legend-color {
         color: #ec8407;
     }
     .mg-line2-color {
         stroke: #ec8407;
     }
     .mg-line3-legend-color {
         color: #db4437;;
     }

     path.mg-main-line {
         fill: none;
         opacity: 0.8;
         stroke-width: 1.7px;
     }
     .mg-chart-title {
         cursor: default;
         font-size: .7rem;
         padding-top: 0px;
         text-align: center;
         font-family: 'Open Sans', sans-serif, Arial;
         color: #111;
         letter-spacing: 0em;
     }
     .mg-x-axis text {
         font-size: 8.5px;
     }
     .mg-year-marker text {
         font-size: 11px;
     }
    </style>
    <script>
     var url;
     small_multiples = function(value) {

         var filterCrime = function(data, crime) {
             data = _.filter(data, { 'crime': crime });
             data = MG.convert.date(data, 'date', '%Y-%m');
             return(data)
         }
         $.ajax({
             dataType: 'jsonp',
             url: '/api/v1/df/crimes/all/series_extra',
             success: function(data) {

                 function daysInMonth(month, year) {
                     return new Date(year, month, 0).getDate();
                 }
                 var population
                 _.forEach(data.ssp, function(x) {
                     population = x.population;
                     x['rate'] = (x.count / daysInMonth( x.date.substr(5,6), x.date.substr(0,4)) * 30)/ x.population * 100000 * 12
                 });
                 _.forEach(data.pgj, function(x) {
                     x['population'] = population;
                     x['rate'] = (x.count / daysInMonth(x.date.substr(5,6), x.date.substr(0,4)) * 30)/ population * 100000 * 12
                 });


                 groups=_.groupBy(data.ssp, function(x) {return x.crime});

                 sorted_crime = _.sortBy(_.unique(_.pluck(data.ssp, 'crime')),
                                         function(x) {
                                             if (x === "HOMICIDIO DOLOSO")
                                                 return -5;
                                             if (x === "ROBO DE VEHICULO AUTOMOTOR C.V.")
                                                 return -4;
                                             if (x === "ROBO DE VEHICULO AUTOMOTOR S.V.")
                                                 return -3;
                                             if (x === "ROBO A TRANSEUNTE C.V.")
                                                 return 6;
                                             if (x === "ROBO A TRANSEUNTE S.V.")
                                                 return 7;
                                             if (x === "LESIONES POR ARMA DE FUEGO")
                                                 return 5;
                                             return 9999;
                                         })

                 _.map(sorted_crime, function(x) {
                     if (document.getElementById('line' + x.replace(/ /g, '-')
                                                           .replace(/\./g, '-')) === null) {
                         $('<div id="'+ 'line' + x.replace(/ /g, '-')
                                                  .replace(/\./g, '-') +'" class="6u"></div>').appendTo('#small-multiples');
                     }
                 });
                 $('#small-multiples .3u').each(function(index, obj){
                     $(obj).attr('id', 'line' + sectores[index].replace(/ /g, '-')
                                                               .replace(/\./g, '-'));
                 });

                 console.time("concatenation");

                 var round = d3.format(".1f");
                 var comma = d3.format(",");
                 _.forEach(_.unique(_.pluck(data.ssp, 'crime')), function(x) {
                     var line_options = {
                         //title: "Homicides",
                         description: '',
                         height: 250,
                         y_label: {{_('"annualized rate per 100,000"')}},
                         area: false,
                         buffer: 0,
                         top: 15,
                         buffer: 0,
                         left: 95,
                         right: 25,
                         top: 25,
                         full_width: true,
                         //width: 200,
                         interpolate: "linear",
                         x_accessor: 'date',
                         y_accessor: 'rate',
                         xax_count: 4,
                         yax_count: 3,
                     };
                     if (x === 'HOMICIDIO DOLOSO') {
                         var homicides = [101,93,124,99,137,90,92,93,113,94,109,139,114,114,144,127,108,123,107,88,84,109,110,111];
                         var inegi = [];
                         for(var i = 0; i < homicides.length; i++) {
                             inegi.push({
                                 'count' : homicides[i],
                                 'rate': (homicides[i] / daysInMonth(data.ssp[i].date.substr(5,6), data.ssp[i].date.substr(0,4)) * 30)/ population * 100000 * 12,
                                 'date': data.ssp[i].date,
                                 'crime': x
                             })
                         }
                         line_options.data = [ filterCrime(data.ssp, x), filterCrime(data.pgj, x), filterCrime(inegi, x)];
                     } else
                         line_options.data = [ filterCrime(data.ssp, x), filterCrime(data.pgj, x)];
                     line_options.title = x;
                     line_options.target = "#line" + x.replace(/ /g, '-').replace(/\./g, '-');
                     line_options.mouseover = function(d, i) {
                         var target = line_options.target;
                         var date = new Date(d.date);
                         var day = d.date.getDate();
                         var monthIndex = d.date.getMonth();
                         var year = d.date.getFullYear();
                         d3.select(target + ' text.mg-active-datapoint')
                           .text( d3.time.format("%b %Y")(date) + ' - {{_('rate:')}} ' + round(d.rate) + ' - {{_('count:')}} ' + comma(d.count));
                     };
                     MG.data_graphic(line_options);
                     return
                 });
                 $('#crimeSelect').removeAttr('disabled');
                 console.timeEnd("concatenation");
             }});
     }

     small_multiples();
     $body = $("body");

     $(document).on({
         ajaxStart: function() { $body.addClass("loading");    },
         ajaxStop: function() { $body.removeClass("loading"); }
     });

    </script>
    <div class="modal"></div>
{% endblock %}

{% block js_bottom %}
{% endblock %}
