<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/leaflet.css" />
<link href="css/c3.css" rel="stylesheet" type="text/css">
<link href="css/crime.css" rel="stylesheet" type="text/css">
<script src="js/underscore-min.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/leaflet-pip.js"></script>
<script src="js/topojson.v1.min.js"></script>
 <script src="js/d3.v3.min.js"></script>
<script src="js/c3.min.js"></script>
<script src="js/jquery.1.8.3.min.js"></script>
<style>
.tick line{
opacity:0;
visibility:hidden;
}
</style>
</head>
<body>
<p id="cuadrante"><p>
	<div id="map" style="width: 600px; height: 400px"></div>
<div id="chart-homicide" style="height:100px;width:400px"></div>
<div id="chart-rncv" style="height:100px;width:400px"></div>
<div id="chart-rvcv" style="height:100px;width:400px"></div>
<div id="chart-rvsv" style="height:100px;width:400px"></div>
<div id="chart-viol" style="height:100px;width:400px"></div>
<div id="barchart-homicide" style="height:100px;width:400px"></div>
<div id="barchart-rncv" style="height:100px;width:400px"></div>
<div id="barchart-rvcv" style="height:100px;width:400px"></div>
<div id="barchart-rvsv" style="height:100px;width:400px"></div>
<div id="barchart-viol" style="height:100px;width:400px"></div>
	<script src="js/modernizr.js"></script>
	<script src="js/pip.js"></script>
</body>
</html>
