{% extends "base.html" %}
{% block title %}{{_('Crime in Mexico City')}}{% endblock %}
{% block lang %}{{_('en')}}{% endblock %}
{% block hreflang %}{{_('es')}}{% endblock %}
{% block alternhref %}{{_('https://hoyodecrimen.com/')}}{% endblock %}
{% block description %}{{_('Crime in Mexico City. Find out how many crimes there were in your cuadrante delictivo')}}{% endblock %}
{% block head %}
<meta name="description" content="{{_('Crime in Mexico City')}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@diegovalle" />
<meta name="twitter:title" content="{{_('Crime in Mexico City')}}" />
<meta name="twitter:description" content="{{_('Find out how many crimes there were in your Cuadrante Delictivo')}}" />
<meta name="twitter:image" content="https://hoyodecrimen.com/images/choropleth.png" />
<meta name="twitter:url" content="{{_('https://hoyodecrimen.com/en/')}}" />

<meta name="blitz" content="mu-01188fe9-0b813050-b0f51076-c96f41fb">

<meta name="og:title" content="{{_('Crime in Mexico City')}}" />
<meta property="og:description" content="{{_('Crime in Mexico City. Find out how many crimes there were in your Cuadrante Delictivo.')}}"/>
<meta property="og:url" content="{{_('https://hoyodecrimen.com/en/')}}"/>
<meta property="og:image" content="https://hoyodecrimen.com/images/choropleth.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Hoyo de Crimen"/>
{{ super() }}
{% endblock %}

{% block css %}
{% assets  'css_pip_req' %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
<style>
  .tick line{
  opacity:0;
  visibility:hidden;
  }
</style>
{% endblock %}

{% block js %}
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
{% assets "js_pip_req" %}
<script  type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% block content %}

<h1 id="logo" style="margin-bottom:50px">{{_('Crime in Mexico City')}}</h1>
<div id="map" style="height: 400px"></div>
<div class="row">
  <div class="2u" style="margin-top:10px">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="diegovalle">Tweet</a>
    <div id="fb-root"></div>
    <div class="fb-like" data-href="{{_('https://hoyodecrimen.com/en/')}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
  <div class="8u">
    <p>{{_('Crime in your Cuadrante')}}</p>
  </div>
  <div class="2u">
  </div>
</div>
<p>
  <span>{{_('Cuadrante: ')}}</span><span id="cuadrante"></span><br/>
  <span>{{_('Sector: ')}}</span><span id="sector"></span><br/>
  <span>{{_('Population: ')}}</span><span id="poblacion"></span>
</p>

<div class="row">
  <div class="1u">&nbsp;</div>
  
  <div id="linecharts" class="5u">
    <p style="height:3em;margin-bottom:10px">{{_('Crimes counts by month in your cuadrante')}}</p>
    <div id="chart-homicide" style="height:100px;width:100%"></div>
    <div id="chart-rncv" style="height:100px;width:100%"></div>
    <div id="chart-rvcv" style="height:100px;width:100%"></div>
    <div id="chart-rvsv" style="height:100px;width:100%"></div>
    <div id="chart-viol" style="height:100px;width:100%"></div>
  </div>
  <div id="barcharts" class="5u">
    <p style="height:3em;margin-bottom:10px">{{_('Crimes rates compared to the rest of the DF during the last 12 months')}}</p>
    <div id="barchart-homicide" style="height:100px;width:100%"></div>
    <div id="barchart-rncv" style="height:100px;width:100%"></div>
    <div id="barchart-rvcv" style="height:100px;width:100%"></div>
    <div id="barchart-rvsv" style="height:100px;width:100%"></div>
    <div id="barchart-viol" style="height:100px;width:100%"></div>
  </div>	
</div>
<hr/>

{% endblock %}

{% block subscribe %}
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <!--Spanish Version
      "//diegovalle.us6.list-manage.com/subscribe/post?u=787fae824c502d9f3ad7d0b73&amp;id=99835eea14"
      name="b_787fae824c502d9f3ad7d0b73_99835eea14"
      
    -->
  <form action="{{_('//diegovalle.us6.list-manage.com/subscribe/post?u=787fae824c502d9f3ad7d0b73&amp;id=102491489b')}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="center">
      <div>
        <span style="color:white;font-weight:bold;">{{_('Free email when new information is available')}}</span>
	<input type="email" value=" " size="30" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
        
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="{{_('b_787fae824c502d9f3ad7d0b73_102491489b')}}" tabindex="-1" value=""></div>
        <input type="submit" value="{{_('Subscribe')}}" name="subscribe" id="mc-embedded-subscribe" class="button" style="background:green;color:white;padding: .7em 2em;font-size: .9em;padding-bottom: 6px;">
    </div></div>
  </form>
</div>
<!--End mc_embed_signup-->
{% endblock %}


{% block js_bottom %}
<script>
  hom_txt="{{_('Cuadrante Homicides')}}"
  rncv_txt="{{_('Cuadrante Violent robberies to a business')}}"
  rvcv_txt='{{_('Cuadrante Vehicle robberies with violence')}}'
  rvsv_txt='{{_('Cuadrante Vehicle robberies without violence')}}'
  viol_txt='{{_('Cuadrante Rape')}}'
  rccv_txt='{{_('Cuadrante House robberies with violence')}}'
  rtcv_txt='{{_('Cuadrante Robberies to pedestrians with violence')}}'
  rtsv_txt='{{_('Cuadrante Robberies to pedestrians without violence')}}'
  count_txt = '{{_("count")}}'
  all_df_txt = '{{_("All DF")}}'
  rate_txt = '{{_("rate")}}'
  
</script>
{% assets "js_pip" %}
<script  type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=299785550640&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}
