{% extends "base.html" %}
{% block title %}{{_('Crime in Mexico City')}}{% endblock %}
{% block head %}
    
   <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@diegovalle" />
<meta name="twitter:title" content="{{_('Crime in Mexico City')}}" />
<meta name="twitter:description" content="{{_('Find out how many crimens there were in your Cuadrante Delictivo')}}" />
<meta name="twitter:image" content="https://hoyodecrimen.com/images/choropleth.png" />
<meta name="twitter:url" content="{{_('https://hoyodecrimen.com/en/')}}" />

<meta property="og:description" content="{{_('Crime in Mexico City. Find out how many crimens there were in your Cuadrante Delictivo.')}}"/>
<meta property="og:url" content="{{_('https://hoyodecrimen.com/en/')}}"/>
<meta property="og:image" content="https://hoyodecrimen.com/images/choropleth.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Hoyo de Crimen"/>
{{ super() }}

{% block css %}
{% assets  'css_pip_req' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
	<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
<style>
.tick line{
opacity:0;
visibility:hidden;
}
</style>
{% endblock %}

{% block js %}
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
{% assets "js_pip_req" %}
    <script  type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% endblock %}
{% block content %}
			
					<h1 id="logo" style="margin-bottom:50px">{{_('Crime in Mexico City')}}</h1>
	<div id="map" style="height: 400px"></div>
<p>{{_('Crime in your Cuadrante')}}</p>

<p>
<span>{{_('Cuadrante: ')}}</span><span id="cuadrante"></span><br/>
<span>{{_('Sector: ')}}</span><span id="sector"></span><br/>
<span>{{_('Population: ')}}</span><span id="poblacion"></span>
</p>

<div class="row">
<div class="1u">&nbsp;</div>

<div id="linecharts" class="5u">
<p style="height:3em;margin-bottom:10px">{{_('Crimes counts by month in your cuadrante')}}</p>
<div id="chart-homicide" style="height:100px;width:400px"></div>
<div id="chart-rncv" style="height:100px;width:400px"></div>
<div id="chart-rvcv" style="height:100px;width:400px"></div>
<div id="chart-rvsv" style="height:100px;width:400px"></div>
<div id="chart-viol" style="height:100px;width:400px"></div>
</div>
<div id="barcharts" class="5u">
<p style="height:3em;margin-bottom:10px">{{_('Crimes rates compared to the rest of the DF during the last 12 months')}}</p>
<div id="barchart-homicide" style="height:100px;width:400px"></div>
<div id="barchart-rncv" style="height:100px;width:400px"></div>
<div id="barchart-rvcv" style="height:100px;width:400px"></div>
<div id="barchart-rvsv" style="height:100px;width:400px"></div>
<div id="barchart-viol" style="height:100px;width:400px"></div>
</div>	
</div>
    {% endblock %}

{% block js_bottom %}
{% assets "js_pip" %}
    <script  type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
 {% endblock %}
