{% extends "base.html" %}


{% block lang %}{{_('en')}}{% endblock %}
{% block hreflang %}{{_('es')}}{% endblock %}
{% block alternhref %}{{_('https://hoyodecrimen.com/tasas')}}{% endblock %}
{% block description %}{{_('Maps of crime rates in Mexico City by sector delictivo')}}{% endblock %}
{% block title %}{{_('Crime by Sector in Mexico City')}}{% endblock %}
{% block css %}
{% assets  'css_maps_req'   %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
{% endblock %}

{% block js %}
<script>
// URL for the angular table
anuglar_table_url = "/api/v1/sectores/crimes/all/top/rates"
</script>
{% assets  'js_maps_req'  %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}



{% block head %}

{{super()}}


{% endblock %}

{% block subscribe %}
{% endblock %}
{% block content %}
<hr/>
{{_('Crime: ')}}
<select id="crimeSelect">

</select>
<script>
_.sortedFind = function sortedFind(list, item, key) {
    return (item, list[_.sortedIndex(list, item, key)]);
};
 $.ajax({
     dataType: 'jsonp',
     url: 'https://hoyodecrimen.com/api/v1/crimes',
     success: function(data) {
         crimes = _.pluck(data.rows, "crime");
         $.each(crimes, function(key, value) {
             $('#crimeSelect')
          .append($('<option>', { value : value })
          .text(value));
         });
     }});
 $('#crimeSelect').on('change', function() {
     value = this.value;
     $.ajax({
         dataType: 'jsonp',
         url: '/api/v1/sectores/all/crimes/' + value + '/period',
         success: function(data) {
             quantizeRed = createQuantized(findRange(value), mapColors.hom);
             d3.selectAll("#map-homicide path").attr("class",function(d) {
                 obj = _.sortedFind(data.rows,
                                    {'sector': d.properties['sector'].toUpperCase(),
                                     'crime': value.toUpperCase()},
                                    'sector');
                  return quantizeRed(obj['count'] / obj['population'] * 100000 )
             });
             createLegend('#legend-homicides', quantizeRed)
         }});

     //small_multiples(this.value); // or $(this).val()
 });
</script>

                                          <h2 id="homicide-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Homicides - rates')}}</h2>

					  <div class="row">

					    <div class="4u">
                                              <div id="map-homicide" style="height:500px;">
                                                <small style="font-size:12px;text-align:left;" id="hom-date"></small>
                                                <div id = "legend-homicides"></div>
                                              </div>
                                            </div>
                                            <div class="7u">

                                              <div class="chart-crime" id="chart-homicide"></div>
                                              <a href="#" class="button" id="HomicideButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          </div>
<div>

<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">
<div class="table-responsive" style="box-sizing: border-box;">



     <table ng-table="tableParams1" class="table">
        <tr ng-repeat="sector in $data | filter:'homicidio doloso'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>

</div>
</div>
</div>

 {% endblock %}




              {% block js_bottom %}
<script type="x-jst" id="tooltip-template">
</script>
<script>
var topoName = 'sectores';
var mapFile = "/js/sectores.json";
// var crimeFile = "js/hom-dol-sector.js";
var mapColors = {hom:"Redsq", rncv:"Bluesq", rvcv:"Purplesq",
rvsv:"Greensq", viol:"Graysq"}
crimePrefix = 'rate of ';
document.getElementById("HomicideButton").onclick = function (event) {
event.preventDefault();
d3.select('#homicide-title').text('Homicides - DF Total');
chartHomicides.load({
                columns: [HomicidesA],
            }); };

</script>
{% assets  'js_maps'  %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
