{% extends "base.html" %}

{% block title %}{{_('Crime by Sector in Mexico City')}}{% endblock %}

{% block head %}



{% block css %}
{% assets  'css_maps_req'   %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
{% endblock %}

{% block js %}
<script>
// URL for the angular table
anuglar_table_url = "/api/v1/sectores/crimes/all/top/rates"
</script>
{% assets  'js_maps_req'  %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% endblock %}

{% block subscribe %}   
{% endblock %}
{% block content %}
 <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="{{_('//diegovalle.us6.list-manage.com/subscribe/post?u=787fae824c502d9f3ad7d0b73&amp;id=102491489b')}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="center">
          <div>
            <span style="color:white;font-weight:bold;">{{_('Free email when new information is available')}}</span>
	<input type="email" value=" " size="30" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="{{_('b_787fae824c502d9f3ad7d0b73_102491489b')}}" tabindex="-1" value=""></div>
   <input type="submit" value="{{_('Subscribe')}}" name="subscribe" id="mc-embedded-subscribe" class="button" style="background:green;color:white;padding: .7em 2em;font-size: .9em;padding-bottom: 6px;">
</div></div>
</form>
</div>
<!--End mc_embed_signup-->

                                          <h2 id="homicide-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Homicides - rates')}}</h2>

					  <div class="row">
                                           
					    <div class="4u">
                                              <div id="map-homicide" style="height:500px;">
                                                <small style="font-size:12px;text-align:left;" id="hom-date"></small>
                                                <div id = "legend-homicides"></div>
                                              </div>
                                            </div>
                                            <div class="7u">
                                              
                                              <div class="chart-crime" id="chart-homicide"></div>
                                              <a href="#" class="button" id="HomicideButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          </div>
<div>

<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">
<div class="table-responsive" style="box-sizing: border-box;">



     <table ng-table="tableParams1" class="table">
        <tr ng-repeat="sector in $data | filter:'homicidio doloso'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>
     
</div>
</div>
</div>
<hr/>
                                          <h2 id="rncv-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Violent robberies to a business - rates')}}</h2>
                                          <div class="row">
					    <div class="4u">
                                              <div id="map-rncv" style="height:500px">
                                                <small style="font-size:12px;text-align:left;" id="rncv-date"></small>
                                                <div id = "legend-rncv"></div>
                                              </div>
                                            </div>
                                            <div class="7u">
                                              <div class="chart-crime" id="chart-rncv"></div>
                                              <a href="#" class="button" id="RNCVButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          </div>
<div>
<div class="table-responsive" style="box-sizing: border-box;">
<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">

<table ng-table="tableParams2" class="table">
        <tr ng-repeat="sector in $data | filter:'robo a negocio c.v.'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>

</div>
</div>
</div>
<hr/>
                                          <h2 id="rvcv-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Violent car robberies - rates')}}</h2>
                                          <div class="row">
					    <div class="4u">
                                              <div id="map-rvcv" style="height:500px">
                                                <small style="font-size:12px;text-align:left;" id="rvcv-date"></small>
                                                 <div id = "legend-rvcv"></div>
                                              </div>
                                            </div>
                                            <div class="7u">
                                              <div class="chart-crime" id="chart-rvcv"></div>
                                              <a href="#" class="button" id="RVCVButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          </div>
<div>

<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">

<table ng-table="tableParams3" class="table">
        <tr ng-repeat="sector in $data | filter:'robo de vehiculo automotor c.v.'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>

</div>

</div>
<hr/>
                                          <h2 id="rvsv-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Non-violent car robberies - rates')}}</h2> <!--  -->
                                          <div class="row">
					    <div class="4u">
                                              <div id="map-rvsv" style="height:500px">
                                                <small style="font-size:12px;text-align:left;" id="rvsv-date"></small>
                                                 <div id = "legend-rvsv"></div>
                                              </div>
                                            </div>
                                            <div class="7u">
                                              <div class="chart-crime" id="chart-rvsv"></div>
                                              <a href="#" class="button" id="RVSVButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          </div>
<div>

<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">

<table ng-table="tableParams4" class="table">
        <tr ng-repeat="sector in $data | filter:'robo de vehiculo automotor s.v.'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>

</div>
</div>
<hr/>

                                          <h2 id="viol-title" style="text-align:right;margin: 0 7em 0 0;">{{_('Rape - rates')}}</h2>

					  <div class="row">
                                           
					    <div class="4u">
                                              <div id="map-viol" style="height:500px;">
                                                <small style="font-size:12px;text-align:left;" id="viol-date"></small>
                                                <div id = "legend-viol"></div>
                                              </div>
                                            </div>
                                            <div class="7u">
                                              <div class="chart-crime" id="chart-viol"></div>
                                              <a href="#" class="button" id="RapeButton">{{_('Reset Chart to show all DF data')}}</a>
                                            </div>
                                          
                                          </div>
<div>

<p>{{_('Sectors with the highest rates of crime')}}</p><div class="datagrid">

<table ng-table="tableParams5" class="table">
        <tr ng-repeat="sector in $data | filter:'violacion'">
          <td data-title="'{{_('Rank')}}'">{[sector.rank]}</td>
          <td data-title="'{{_('Crime')}}'">{[sector.crime]}</td>
          <td data-title="'{{_('Sector')}}'">{[sector.sector]}</td>
          <td data-title="'{{_('Count')}}'">{[sector.count]}</td>
          <td data-title="'{{_('Population')}}'">{[sector.population | number:0]}</td>
          <td data-title="'{{_('Rate')}}'">{[sector.rate]}</td>
        </tr>
     </table>

</div>
</div>
 {% endblock %}




              {% block js_bottom %}   
<script type="x-jst" id="tooltip-template">
</script>
<script>
var topoName = 'sectores';
var mapFile = "/js/sectores.json";
// var crimeFile = "js/hom-dol-sector.js";
var mapColors = {hom:"Redsq", rncv:"Bluesq", rvcv:"Purplesq",
rvsv:"Greensq", viol:"Graysq"}
crimePrefix = 'rate of ';
document.getElementById("HomicideButton").onclick = function (event) { 
event.preventDefault(); 
d3.select('#homicide-title').text('Homicides - DF Total');
chartHomicides.load({
                columns: [HomicidesA],
            }); };

document.getElementById("RNCVButton").onclick = function (event) { 
event.preventDefault(); 
d3.select('#rncv-title').text('Robberies to a business with violence - DF Total');
chartrncv.load({
                columns: [rncvA],
            }); };

document.getElementById("RVCVButton").onclick = function (event) { 
event.preventDefault(); 
d3.select('#rvcv-title').text('Violent car robberies - DF Total');
chartrvcv.load({
                columns: [rvcvA],
            }); };

document.getElementById("RVSVButton").onclick = function () { 
event.preventDefault(); 
d3.select('#rvsv-title').text('Non-violent car robberies - DF Total');
chartrvsv.load({
                columns: [rvsvA],
            }); };

document.getElementById("RapeButton").onclick = function (event) { 
event.preventDefault(); 
d3.select('#viol-title').text('Rapes - DF Total');
chartviol.load({
                columns: [violA],
            }); };
</script>
{% assets  'js_maps'  %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
